*{
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif


}

main{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    background-image: url(../imagenes/sea-gc5aa15178_1920.jpg);
  
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
.Reg{
    position: absolute;
    opacity: 0;
    visibility: hidden;  
    transition: all .5s;
}
.Ing{
    transition: all .5s;
   
}
.Reg.active{
    opacity: 1;
    visibility: visible;
    
}
.Ing.active{
    opacity: 0;
    visibility: hidden;

}

h2{
   color: #fff;
   text-align: center;
   margin-top: 100px;
   font-size: 2rem;
}
a{
    display: block;
    color: rgb(148, 148, 148);
    text-align: center;
   
    
}
.form{
  height:90%;
  width: 40%;
  background-color: #04073ab7;
  box-shadow: 0px 0px 20px #000;
}
.form__inicio{
    padding:50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.form__inicio__input{
 width: 70%;
 margin-top: 30px;
 height: 30px;
 background-color: transparent;
 color: #fff;   
 border: none;
 border-bottom:1px solid  #9991BB;
}

.form__inicio__input:focus{
    background: linear-gradient(to bottom, transparent,#040A13);
    outline: none;
}

.form__inicio__submit{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #040A13;
    color: #fff;
    font-size: 1rem;
    border: none;
   
}
.form__inicio__submit:hover,.form__inicio__submit :active{
     transform: scale(.97);
     background-color: #081427;
     outline: none;
}
.form2__cont__btn{
   
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #101010;
    color: #fff;
    font-size: 1rem;
    border: none;
}
.form2__cont__btn:hover,.form2__cont__btn :active{
    transform: scale(.97);
    background-color: #081427;
    outline: none;
}


@media only screen and (max-width: 750px) {


    .form{
        height: 75%;
    width: 75%;
    background-color: #7a63ff;
    box-shadow: 2px 2px 10px 0px #7A63FF;
}
    main
    {
        height: auto;
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: #101010;
    }
    .Ing{
        height: 100vh;
    }

    .cont {
        flex-direction: column-reverse;
    }
   
    .tit__h1{
        color: #fff;
    }
    .p__h1{
        color: #fff;
    }
    .form2__cont__p{
        color: #9991BB;
    }
 .h2__registrarme{
     margin-top: 50px;
 }
 .form2__cont__btn{
     background-color: #7a63ff;
 }
 .form2__cont__btn:hover,.form2__cont__btn :active{
     background-color: #7A63FF;
 }
 .form__inicio__input{

     border-bottom: 1px solid #5c5c5c;
 }
 input::placeholder { 
     color: #e2e2e2;
     }   
    
     .form__inicio__input:focus{
         background: none;
        border-bottom: 1px solid #000;
        outline: none;
    }
}
