* {
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
}
body {
    background-color: #101010;
}

/* /////////////////HEADERR////////////////////////// */

.header {
    background-color: #1e1e1e;

}

.header__nav {
    width: 100%;
    height: 80px;
}

.header__nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}


.header__nav__ul__img {
    width: 100px;
    margin-left: 10px;
}

.header__nav__ul__img2 {
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #7A63FF;

}

.header__nav__ul__li {
    color: #e2e2e254;
    font-size: 1.5rem;
    display: flex;
    align-items:center;
}
.header__nav__ul__li button{
    margin-right: 30px;
    border-radius: 0px;
    border: none;
    height: 30px;
    width: 100px;
    color: #1e1e1e;
    background-color: #7A63FF;
    font-size: 16px;
}
.header__nav__ul__li button:hover{
 background-color: #6851ec;
 cursor: pointer;
 
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* general///////////////// */
.main__billetera{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
}
.general{
    width: 70%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.accionesgral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.saldo{
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
   

}
.main__billetera{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

.saldo__article__p{
    color: #7A63FF;
}
.saldo__contenedor{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1e1e1ea8;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.saldo__contenedor__p{
    color: #26ca5c;
}
.menuAcciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.menu{
    display: flex;
    flex-direction: row;
   
  



}
.menu__botones{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    background-color:#6851ec;
    border: 2px solid rgb(167, 166, 166);
    font-size: 2em;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.menu__botones:hover{
    background-color: #593eec;
    border: none ;
    background-color: #e9e9e9;
    color:#6851ec;
    border:2px solid #6851ec;
}
/* Menu1////////////////////////////// */
.menu1{
    width:10%;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    
}
.menu1 button{
    
    width: 100px;

    }
    /* menu acciones///////////////// */
.menuAcciones__aciones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.menuAcciones__aciones ul{
    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 80%;
    background-color: #1a1a1a;  
      position: absolute;
    top: -70px;
    border-radius:20px ;
    z-index: 1;


}
.menuAcciones__aciones ul li{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.menuAcciones__aciones ul label{
 font-size: 1.8rem;
 color: #26ca5c;

}
.btn__cerrar{
    position: absolute;
    top:0;
}
.menuAcciones__aciones ul input{
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #7A63FF;
    height: 80px;
    width:70%;
    font-size: 1.6rem;
}
.menuAcciones__aciones__input::placeholder{
    color: rgba(255, 255, 255, 0.397);
    padding-left: 10px;
    font-size: 1.6rem;
   
}





/* //////////////ACTIVIDADES///////////////// */
.aside__actividades{
    width:20% ;
    height:calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;

  /*  background-color: #1e1e1e; */
}
.actividad{
    width: 100%;
    display: flex;
    flex-direction: column;
    

   
}
.actividad P{
   /*  margin-top: 20px; */
   text-align: center;
    color: #7A63FF;
    /* border-bottom: 1px solid #1e1e1e; */
}
.actividades__ul{
    width: 100%;
    height: auto;
}
.actividades__ul__li{

    color: #fff;
    width: 98%;
    height: 80px;
    background-color: #1e1e1e;
    margin-top: 5px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.actividades__ul__li p{
    color:#fff;
}
.bi-check-circle{
    color: #26ca5c;
   
}

.cotizacion__dolar{
    position: fixed;
    top: calc(100vh - 130px);
    z-index:0;
}

