* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #101010;
}

.header {
    background-color: #1e1e1e;

}

.header__nav {
    width: 100%;
    height: 80px;
}

.header__nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}


.header__nav__ul__img {
    width: 100px;
    margin-left: 10px;
}

.header__nav__ul__img2 {
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #7A63FF;

}

.header__nav__ul__li {
    color: #e2e2e254;
    font-size: 1.5rem;
    display: flex;
    align-items:center;
}
.header__nav__ul__li button{
    margin-right: 30px;
    border-radius: 0px;
    border: none;
    height: 30px;
    width: 100px;
    color: #1e1e1e;
    background-color: #7A63FF;
}
.header__nav__ul__li button:hover{
 background-color: #6851ec;
 cursor: pointer;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: column; 
}
.menu button{
    width: 100px;
    }
.menu1{
    display: flex;
    flex-direction: column; 
}
.menu1 button{
    width: 100px;
    }


.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

.sueldo__article__p{
    color: #7A63FF;
}
.actividad P{
    color: #7A63FF;
}